@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #f4f4f4;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    background: linear-gradient(to right, #f7c202,#239470, #d49e32);  
    color: white;
    padding: 15px;
    text-align: center;
}

main {
    padding: 20px;
}

#search, #filters {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
}

#search input {
    padding: 8px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#search button {
    padding: 8px 15px;
    background: #239470;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#search button:hover {
    background: #036043;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background: #239470;
    color: white;
}

#estatisticas {
    margin-top: 20px;
    background: #eee;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
}

#estatisticas h3 {
    margin-bottom: 10px;
    color: #239470;
}


footer {
    background: #239470;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}
